
{% extends 'base.html' %} 


{% block content %}
<br/> <br/>


<h1> Blog Posts  </h1>

<ul>
{% for post in object_list %}
                    <!-- in the url  we writte the name of the view in urls.py = 'article/<int:pk>',PostDetails.as_view(), name='postdetails'    very importtant to understand -->
      <li> <a  href =" #"> {{post.title}} </a> 
      
       -{{post.author.first_name}} 
       -{{post.author.last_name}} 
       -{{post.post_date}}
       
        <br/>
       {{post.body|slice:":200"|safe }}</li>

{% endfor %}
</ul>



{% endblock %}